@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: green;
    color: #fff;

}

h1 {
    margin: 0px;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 0px auto;
    color: #fff;
    background-color: blueviolet;
    padding: 10px;
}

.sen {
    border: 1px solid #d1d1d1;
    margin-top: 15px;
}

.information {
    width: 600px;
    margin: 10px auto;
    padding: 0px;
    line-height: 1.5;


}

.gazou {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.description {
    display: flex;

}

img {
    height: 150px;
}

p {
    font-size: 12px;
    margin: 5px auto
   
}

@media (max-width: 800px) {
    body {
        font-size: 6vw;
        ;
    }

    header {
        width: 600px;
        

    }

    .description {
        flex-direction: column;
        
    }

    .description img {
        margin: 0 auto;
        width: inherit;

    }

    .gazou {
        margin: 0 auto;
    }

    p {
        font-size: 5vw;
    }


}